BODY {
	BACKGROUND-IMAGE: url(../images/bg.jpg); MARGIN: 0px
}
.BodyXL {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #333; FONT-FAMILY: Verdana, sans-serif
}
.ErrorXLBold {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #c00; FONT-FAMILY: Verdana, sans-serif
}
.footertext {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #989797; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.headerTop {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #fefefc; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}

.leftMenuText {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; WIDTH: auto; COLOR: #727071; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.categoryHeading {
	FONT-WEIGHT: normal; FONT-SIZE: 24px; WIDTH: auto; COLOR: #413e2f; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.leftMenuHeading {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.inputTextBox {
	/*BORDER-RIGHT: #996480 1px solid; BORDER-TOP: #996480 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #996480 1px solid; COLOR: #111111; BORDER-BOTTOM: #996480 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif*/
	border-right:#8f9296 1px solid;
	border-left:#8f9296 1px solid;
	border-top:#8f9296 1px solid;
	border-bottom:#8f9296 1px solid; 
	font-size:11px; 
	color:#082869; 
	font-family: Verdana, Helvetica, sans-serif; 
	border-color:#A6B7D5;
	background-color:#ffffff;  
}
.commonText {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #111111; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.leftMenuLink:link {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.leftMenuLink:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.leftMenuLink:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.leftMenuLink:hover {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #770b3c; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.forgot:link {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.forgot:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.forgot:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.forgot:hover {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #770b3c; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.forgotleft:link {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.forgotleft:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.forgotleft:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.forgotleft:hover {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #770b3c; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.footerlink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: auto; COLOR: #343434; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.footerlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: auto; COLOR: #343434; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.footerlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: auto; COLOR: #343434; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.footerlink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: auto; COLOR: #fe7a10; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.headerTopSalute {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #fefefc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.bar {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.dynamicfooter:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.dynamicfooter:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.dynamicfooter:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.dynamicfooter:link {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.dynamicfooter:visited {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.dynamicfooter:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
UNKNOWN {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; LINE-HEIGHT: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.foot:link {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; LINE-HEIGHT: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A.foot:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; LINE-HEIGHT: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A.foot:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; LINE-HEIGHT: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A.contentlink:link {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.contentlink:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.contentlink:visited {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
A.contentlink:hover {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.blackbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.leftmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; 
}
.leftmenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; 
}
.leftmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; 
}
.leftmenu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial; 
}
