<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="651" border="0" align="center">
  <tr>
    <td width="159">
      <label>
        <input type="image" name="creditcard" src="http://www.newagesme.com/theunionshop/templates/blue/images/CVV2.gif" />
        </label>    </td>
    <td width="482">For your safety and security, we require that you enter your credit card's verification number. The verification number is the 3-digit number after and to the right of the number printed on the back of Visa, Mastercard or Discover card and the 4-digit number printed on the front of American Express.  &nbsp;</td>
  </tr>
</table>
</body>
</html>
