
body {
text-align:center;
color:#0b5980;
font:normal 11px Arial, Helvetica, sans-serif;
margin:0;
}
a{
outline:none;
color:#0b5980;
}
form{margin:0px;}
#wrapper{
width:952px;
background: url(../images/background_bg.jpg) top repeat-y;
margin:0 auto;
text-align:left;

}
.upperhead{
width:100%;
background:url(../images/toprepeatx_02.jpg) repeat-x top;
height:51px;
}
.tel{
float:right;
background:url(../images/tel_04.jpg) center top no-repeat;
margin-right:10px;
padding-top:18px;
padding-left:46px;
font-size:12px;
width:200px;
}
.banner{
text-align:center;
background:url(../images/banner-repeat_06.jpg) repeat-x top;
height:275px;
padding-top:0px;
width:100%;
}
.underbanner{
width:90%;
padding-top:3px;
padding-bottom:3px;
text-align:left;
padding-left:10%;
background:#F8F8F8;
border-top:1px solid #ededed;
border-bottom:1px solid #ededed;
}
.underbanner2{
width:97%;
padding-top:2px;
padding-bottom:2px;
text-align:left;
padding-left:2%;
font-size:11px;
background:#F8F8F8;
border:1px solid #ededed;
}
.article{
padding-top:5px;
padding-bottom:10px;

margin-bottom:30px;
}
.underbanner2 a:link,.underbanner a,.underbanner a:visited{
color:#666;
}

.article1{
padding-top:5px;
padding-bottom:10px;

margin-bottom:30px;
}
.underbanner2 a:link,.underbanner a,.underbanner a:visited{
color:#000000;
}




.button{
background:url(../images/buttontopleft_12.jpg) top left no-repeat #00488C;
border:1px solid #05396A;
height:21px;
font-size:10px;
font-weight:bold;
color:#FFF;
font-family:verdana;
text-align:center;
}
.content{
width:100%;
padding-top:10px;
background:url(../images/bodytop-bg.jpg);
background-repeat:repeat-x;
position:relative;
}
.inner_leftcolumn{
width:185px;
float:left;
padding-left:25px;
padding-right:10px;
padding-top:10px;
}
.leftcolumn{
 width:185px;
 float:left;

}
/*.clear {
    width: 100%;
    height: 1px;
    margin: 0 0 -1px;
    clear: both;
}*/
.inner-rightcolumn{
width:700px;
float:right;
padding-right:10px;
padding-top:10px;
}
#navvy
{
/*width:185px;*/
font-size:11px;
font-weight:normal;
padding: 0;
text-align:left;
font-family:Verdana;
background:url(../images/giftcategories-bg.jpg);
padding-left:0px;
}

ul#navvylist
{
text-align: left;
list-style: none;
margin: 0;
padding: 0;
/*width:185px;*/
}

ul#navvylist li
{
/*width:185px;*/
display: block;
margin: 0;
padding: 0;
border-top:1px solid #ffffff;
height:30px;

}

ul#navvylist li a
{
display: block;
margin:0;
/*width:185px;*/
padding-top:6px;
padding-bottom:7px;
padding-left:25px;
padding-right:10px;
color: #ffffff;
text-decoration: none;

}

#navvy>ul#navvylist li a { width: auto; }


ul#navvylist li a:hover, ul#navvylist li#active a:hover
{
color: #770b3c;/*width:185px;*/
padding-left:25px;

}
#LMDIV2
{
/*width:185px;*/
font-size:11px;
font-weight:normal;
padding: 0;
text-align:left;
font-family:Verdana;
background:url(../images/special-occasions-bg.jpg);
}

ul#LMDIV2list
{
text-align: left;
list-style: none;
margin: 0;
padding: 0;
/*width:185px;*/
}

ul#LMDIV2list li
{
/*width:185px;*/
display: block;
margin: 0;
padding: 0;
height:25px;
}


ul#LMDIV2list li a
{
display: block;
margin:0;
/*width:185px;*/
padding-top:6px;
padding-bottom:7px;
padding-left:15px;
padding-right:10px;
color: #0b5980;
text-decoration: none;

}

#LMDIV2>ul#LMDIV2list li a { width: auto; }


ul#LMDIV2list li a:hover, ul#LMDIV2list li#active a:hover
{
color: #770b3c;/*width:185px;*/
padding-left:15px;

}
.box{
width:224px;
background:#E2EBF4 url(../images/bgbottomright_22.jpg) bottom right no-repeat;
border:1px solid #A5CAEF;
padding:10px;
color:#315E88;
font-size:11px;
margin-top:20px;
}
h2{
font-size:20px;
color:#6A6A6A;
font-weight:normal;
margin:0;
width:92%;
padding-left:1%;
//background:url(../images/bullet_16.jpg) no-repeat bottom left;
padding-bottom:5px;
padding-top:3px;
text-decoration:none;
}
h2 a, h2 a:link, h2 a:visited{
font-size:20px;
color:#6A6A6A;
font-weight:normal;
text-decoration:none;
}
h2 a:hover{
font-size:20px;
color:#333;
font-weight:normal;
text-decoration:underline;
}
.footer{
padding-top:6px;
padding-bottom:6px;
border-top:1px solid #64a8cb;
text-align:center;
}
.footer a:link, .footer a, .footer a:visited{
color:#0b5980;

}
.footer a:hover{
font-size:11px;
color:#770b3c;
font-weight:normal;
}




.footerlink {
	TEXT-DECORATION: none
}
.footerlink:visited {
	TEXT-DECORATION: none
}	
.footerlink:hover {
	COLOR: #770b3c; 	
	TEXT-DECORATION: none
}
.footerlink:active {
	COLOR: #770b3c; 
	TEXT-DECORATION: none
}
.footertext {
	TEXT-DECORATION: none;

}
div.row {
  clear: both;
   height:15px;
  }
acce.row {
  clear: both;
   height:5px;
  }

div.row span.label {
  float: left;
  width: 120px;
  text-align: left;
  color:#0b5980;
  }
  div.row span.categorypath {
  float: left;
  width: 300px;
  text-align: left;
  font-size:10px;
   }
   div.row span.nextpath {
  float: left;
  width: 650px;
  text-align: right;
  font-size:10px;
   }
  div.row span.page_subheading {
  float: left;
  width: 300px;
  text-align: left;
  font-size:12px;
  }
  div.row span.labelRight {
  float: left;
  text-align: right;
  width: 460px;
  font-size:10px;
  
  }
  div.row span.product {
  float: left;
  width: 230px;
  text-align:center;
  }
 div.row span.productname {
  float: left;
  width: 230px;
  text-align:center;
  }
div.row span.formw {
  float: left;
  width: 550px;
  text-align: left;
  font-style:oblique
  } 


div.rows {
padding-top:10px;
  clear: both;
   }

div.rows span.label {
  float: left;
  width: 120px;
  text-align: left;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  color:#0b5980;
  }
  div.rows span.categorypath {
  float: left;
  width: 300px;
  text-align: left;
  font-size:10px;
 }
   div.rows span.nextpath {
  float: left;
  width: 650px;
  text-align: right;
  font-size:10px;
  }
    div.rows span.page_subheading {
  float: left;
  width: 300px;
  text-align: left;
  font-size:12px;
  }
  div.rows span.labelRight {
  float: left;
  text-align: right;
  width: 680px;
  font-size:10px;
  }
  div.rows span.product {
  float: left;
  width: 135px;
  text-align:center;
  font-size:10px;
  }
 div.rows span.productname {
  float: left;
  width: 230px;
  text-align:center;
  font-size:10px;
   }
div.rows span.formw {
  float: left;
  width: 380px;
  text-align: left;
  font-size:10px;
  font-style:oblique
   }
  div.rows span.formw1 {
  float: left;
  width: 690px;
  text-align: left;
  font-size:10px;
  font-style:oblique
   }
/* styels from old*/

.greyboldext {
	FONT-SIZE: 18px;
	TEXT-DECORATION: none;
}
.blueboldtext1 {
	FONT-SIZE: 16px;
	TEXT-DECORATION: none;
	
}
.bodytext {
	TEXT-DECORATION: none;
	line-height: 20px;
}
.button_class {
color:#112607;
font-weight:bold;
background-image: url(../images/button-bg.jpg);
border:1px solid #666666;
padding-left:3px;
padding-right:3px;
cursor:pointer;
margin-top:0px;
margin-bottom:0px;
margin-left:1px;
margin-right:1px;
height:22;
width:80;
} 
.border{
border:1px solid #2E96CB;
}
.bordermat{
border:1px solid #888888;
}

.borderBlue{
border:1px solid #A8DCF9;
}
.borderOuter{
border:1px solid #A8DCF9;
}
.productborder{
width:140px;
height:120px;
border:1px solid #2E96CB;
vertical-align:middle;

}
.artborder{
width:160px;
height:140px;
border:1px solid #2E96CB;
vertical-align:middle;

}
.product-dec_border{
width:240px;
height:200px;
border:1px solid #2E96CB;
vertical-align:middle;

}
.pagesubheadings {
	FONT-WEIGHT:bold;
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
	COLOR:#0b5980;
}

/* from style.css*/

.headerbox{
width:952;
height:281px;

}
.logo{
width:218px;
height:276px;
background:url(../images/logo.jpg) no-repeat ;
margin-top:0px;
float:left;
}
.menubg{
width:218px;
height:182px;
background:url(../images/topmenu-bg.jpg) no-repeat ;
margin-top:98px;
}
.topmenu{
position:relative;
width:130px;
top:42px;
margin-left:80px;
}
.toplink{
width:100px;
height:22px;
vertical-align:middle;
margin-top:0px;
padding-top:5px;

}


.lady{
width:218px;
height:281px;
background:url(../images/lady_bg.jpg) no-repeat ;
margin-top:0px;
position:relative;
float:left;
}
.header-right{
width:516px;
height:281px;
float:right;


}
.createpersonalizedgift{
background:url(../images/personalized_store_head.jpg) no-repeat ;
width:516px;
height:65px;
margin-top:10px;
float:left;
}

.welcomebox{
width:500px;
height:177px;
margin-top:19px;
margin-left:16px;
background:url(../images/right-headercurve2.jpg) no-repeat ;
float:right;
position:relative;

}

.welcometext{
width:365px;
height:40px;
TEXT-DECORATION: none;
line-height: 15px;
margin-top:5px;
margin-left:10px;
position:relative;
float:left;
}
.loginbox{
width:300px;
height:80px;
margin-top:3px;
margin-left:10px;
float:left;

}
.go{
width:23px;
height:21px;
float:left;
position:relative;
}

.searchbox{
width:155px;
height:70px;
margin-top:10px;
COLOR: #0b5980;
float:right;
}
.redtext {
	COLOR: #db1f1c; 
	TEXT-DECORATION: none;
}
.redtext1 {
	TEXT-DECORATION:line-through;
}
.redtext2 {
	FONT-SIZE: 14px; 
	FONT-WEIGHT:normal;
	COLOR: #0b5980; 
}
.redtext3 {
	FONT-SIZE: 14px; 
	COLOR: #db1f1c; 
	TEXT-DECORATION: none;
	font-weight:normal;
}
.input{
font-size:10px; 
color:#000000; 
background-color:#ffffff;  
}
.ajaxinput{
font-size:10px;
color:#000000; 
background-color:#ffffff;  
width:162px;
}
.bodybox{
width:100%;
background:url(../images/bodytop-bg.jpg);
background-repeat:repeat-x;
}



.productsgallery{
width:680px;
float:left;
padding-left:10px;
position:relative;
text-align:left;
margin-left:20px;

}

.home_product{
float:left;
width:310px;
height:150px;
TEXT-DECORATION: none;
line-height: 18px;
position:relative;
text-align:left;
/*margin-right:25px; */
margin-bottom:15px;
}
.productname{
float:left;
width:165px;
position:relative;
text-align:left;

}

.photobox{
float:left;
width:155px;
height:128px;
position:relative;
text-align:right;
}
.photoboxbk{
float:left;
width:165px;
height:128px;
background:url(../images/thumbproduct_bg.jpg);
}
.photobox1{
float:left;
width:155px;
height:128px;
position:relative;
text-align:left;
}
.photoboxbk1{
float:left;
width:165px;
height:128px;
background:url(../images/thumbproduct_bg1.jpg) no-repeat left; 
}
.phototext{
float:right;
width:115px;
position:relative;
text-align:left;
margin-right:5px;

}

.rightcolumn{
 float:right;
 padding-top:10px;
 width:190px;
 padding-left:10px;
 border-left: solid 0px #F7EFE2;
 padding-right:10px;
 text-align:left;
 position:relative;
 
}
.spaceDiv {
clear:both;
}

.footerbox{
margin-left:10px;
width:98%;
text-align:center;
padding-top:15px;
height: 80px;
border-top: solid 1px #0c94c7;
}
.innerheader{
width:952;
height:169px;
}

.innerlogin{
width:440px;
height:54px;
margin-top:5px;
float:right;
/*background:url(../images/loginbox-bg.jpg) no-repeat ;*/
}
.innerlogout{
width:440px;
height:54px;
margin-top:5px;
COLOR: #a25b5e;
float:right;
}

/*.innerlogin1{
width:512px;
height:15px;
FONT-WEIGHT:normal;
FONT-SIZE: 11px;
FONT-FAMILY:  Arial, Helvetica, sans-serif;
COLOR: #0b5980;
float:right;
background:url(../images/loginbox-bg.jpg) no-repeat ;
}
*/
.innermenubox {
width:520px;
height:30px;
margin-left:60px;
}
.innerheader{
width:952;
height:169px;
}
.innerlogo{
width:291px;
height:139px;
background:url(../images/logo_inner.jpg) no-repeat ;
margin-top:0px;
float:left;
}

.innerlady{
width:145px;
height:139px;
background:url(../images/lady_inner_bg.jpg) no-repeat;
margin-top:0px;
text-align:center;
float:left;
}

.innermenubg {
width:952px;
height:30px;
background:url(../images/innermenu_bg.jpg) no-repeat ;
 float:left;
 text-align:center;
}

/*.innermenubox {
 width:600px;
 height:30px;
 text-align:center;
 padding-left:5px;
}*/

.innersearchbox {
 width:210px;
 height:30px;
 text-align:center;
 margin-top:5px;
 float:right;  

}

 .button_mid {
 background-image:url(../images/buttons/mid.jpg);
 background-repeat:repeat-x;
 float:left;
 height:23px;
 padding-top:4px;
 }
 .button_hrf_class {
 font-weight:bold;
 text-decoration:none;
 color:#0a5781;
 }
 /* .button_hrf_class:hover
  {
  font:Arial, Helvetica, sans-serif;
 font-weight:bold;
 text-decoration:none;
 color:#7C184A;
  }
  */
  .space_div{
  float:left; 
  width:5px; 
  }
  .hrline{
width:100%;
position:middle;
border-top:1px solid #0c94c7;

}
  .whiteboltext{
  font-size:10px;
  font-weight:bold;
 }
.previewbuttonbox {
width:98%;
height:41px;
margin-left:10px;
border-bottom:1px solid #2E96CB;

}

.headingbox {
width:100%;
padding-left:0px;
padding-top:0px;
height:20px;
float:left;
background-color:#b1e4ff;
FONT-WEIGHT:bold;
FONT-SIZE: 12px;
vertical-align:middle;
border-bottom:1px solid #2E96CB;

}
.bluebutton{
  margin-bottom:0px;
  float:left;
  width:124px;
  height:41px;
  background:url(../images/bluebutton.jpg) no-repeat ;
 }
.bluebutton1{
  margin-bottom:0px;
  float:left;
  width:124px;
  height:41px;
  background:url(../images/bluebutton1.jpg) no-repeat ;
 }
.whitetext {
  COLOR: #ffffff;
  TEXT-DECORATION: none;
  font-weight:bold;
  
}

.bluetext {
FONT-WEIGHT:bold;
FONT-SIZE: 10px;
TEXT-DECORATION: none;
	
}
.graytext {
   	FONT-WEIGHT:bold;
	FONT-SIZE: 10px;
	COLOR: #666666;
	TEXT-DECORATION: none;
	
}
.graytext a, graytext a:link, graytext a:visited{
   	FONT-WEIGHT:bold;
	FONT-SIZE: 10px;
	COLOR: #666666;
	TEXT-DECORATION: none;
}
#artbackground
{
width:198px;
font-size:12px;
color:#666666;
font-weight:normal;
padding: 0;
text-align:left;
TEXT-DECORATION: none;

}
ul#artbackgroundlist
{
text-align: left;
list-style: none;
margin: 0px;
padding:4px;
float:left;
/*width:198px;*/
}

ul#artbackgroundlist li
{

display: block;
margin: 0;
padding: 2px;
height:16px;
}

ul#artbackgroundlist li a
{
display: block;
margin:0;
/*width:198px;*/
padding-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
text-decoration: none;

}

ul#artbackgroundlist li a:hover, ul#artbackgroundlist li#active a:hover
{
color:#000000;
background:url(images/hover_13.jpg) no-repeat left top;

}

.bigpic{
width:100%;
padding-top:60px;
height:532px;
text-align:center;
}
.bigpic1{
width:100%;
padding-top:50px;
height:532px;
text-align:center;
}
.bigpic11{
width:100%;
padding-top:40px;
height:532px;
text-align:center;
}
.bigpic22{
width:100%;
padding-top:20px;
height:532px;
text-align:center;
}


.bluetext2{
FONT-SIZE: 12px;
float:right;
}
.innertext {
	TEXT-DECORATION: none;
	line-height: 20px;
	width:190px;
}
.innertextname {
	FONT-WEIGHT:normal;
	FONT-SIZE: 11px;
	COLOR: #0b5980;
	FONT-FAMILY:  Verdana, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	line-height: 20px;
	padding-left:5px;
	float:left;
}
.innertextname1 {
	FONT-WEIGHT:normal;
	FONT-SIZE: 11px;
	COLOR: #0b5980;
	FONT-FAMILY:  Verdana, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	line-height: 25px;
}
.innertextfield {
	FONT-WEIGHT:normal;
	FONT-SIZE: 11px;
	COLOR: #0b5980;
	FONT-FAMILY:  Verdana, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	line-height: 20px;
	float:right;
}
.borderBlue{
border:1px solid #A8DCF9;
}
.borderOuter{
border:1px solid #A8DCF9;
}
.carttable{background-color: #A8DCF9;}
.carttr{background-color: #E3F5FF;}
.whiteboltext_new {
	FONT-WEIGHT:bold;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	line-height: 20px;
}
.paymethodTable{
background:url(../images/body_botton.jpg) repeat-x top;
}
.toplinkpagi {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #006699; 
	FONT-FAMILY: verdana; 
	TEXT-DECORATION: none
}
.toplinkpagi:visited {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #006699; 
	FONT-FAMILY: verdana; 
	TEXT-DECORATION: none
}	
.toplinkpagi:hover {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #006699; 
	TEXT-DECORATION: none
}
.toplinkpagi:active {
	FONT-WEIGHT:bold; 
	FONT-SIZE: 10px; 
	COLOR: #006699; 
	TEXT-DECORATION: none
}

.cartbox {
  font-weight:bold;
  COLOR: #ffffff;
  TEXT-DECORATION: none;
  background-color:#2E96CB;
}
.whitetextbold {
  font-weight:bold;
  COLOR: #ffffff;
  TEXT-DECORATION: none;
}


.whitenormaltext {
  COLOR: #ffffff;
  TEXT-DECORATION: none;
  font-weight:normal;
}
/*.storehead1 {
	padding-right:16px;
	FONT-WEIGHT:bold;
	FONT-SIZE: 28px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
	COLOR: #0b5980;
	TEXT-DECORATION: none;
	line-height: 30px;
	padding-top:5px;
	
	letter-spacing:2px;
}
*/
.storehead1 {
	FONT-SIZE: 26px;	
	letter-spacing:1px;
	TEXT-DECORATION: none;
	line-height: 30px;
	padding-top:5px;
	padding-right:16px;
}
.storehead2 {
	padding-right:2px;
	FONT-SIZE: 18px;
	TEXT-DECORATION: none;
}
.searchlink {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	TEXT-DECORATION: underline;
	}
.searchlink:visited {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	TEXT-DECORATION: underline;
}	
.searchlink:hover {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	FONT-FAMILY: Arial; 
	TEXT-DECORATION: underline;
}
.searchlink:active {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #0b5980; 
	FONT-FAMILY: Arial; 
	TEXT-DECORATION: underline;
}
.graytext_fordefault {
font-size:10pt;
color:#808080;
}
.blacktext_fordefault {
font-size:10pt;
color:#000000;
}
.redClass{
color:#FF0033;
}
.greenClass{
color:#006600;
}
div.rowfortext {
  clear: both;
  }
.cat_select {
	FONT-WEIGHT: bold; 
	
}
.cat_select:visited {
	FONT-WEIGHT: bold; 
	
}	
.cat_select:hover {
	FONT-WEIGHT: bold; 
	
}
.cat_select:active {
	FONT-WEIGHT:bold; 
	
}

 .msg_error {

	border:1px solid #CC6600;

	background-color:#FEFAEB;

}

.msg_info {

	border:1px solid #CC6600;

	background-color:#FEFAEB;

}

.msg_success {

	border:1px solid #263a5d;

	background-color:#FAFEEB;

}

.msg_error, .msg_info, .msg_success {
	color:#660000;
	line-height:20px;
	}
.bodytext_new {
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
	line-height: 20px;
}


 /*---------------------------------------------7- Aug-2009*/
.footer2{
	line-height:18px;
		}
.footer2 a{
	text-decoration:none;
	padding:5px;
	}
	.footer2 a:hover{
	COLOR: #770b3c;
	text-decoration:none;
	}
	
.print_icon{
	font-weight:bold;
	color:#397da0;
	text-decoration:none;
}

/**** new added by jinson**/

.gift_content_wrap{
	float:left;
	width:212px;
	height:120px;
	background:url(../images/img_wrap.gif) no-repeat left top;
	padding:13px 5px 5px 12px;
}
.gift_img_wrap{
	width:100px;
	height:73px;
	float:left;
}
.gift_inner_wrap{
	width:105px;
	/*height:73px;*/
	float:left;
}
.gift_row{
	width:700px;
}

.gift_content_wrap h4{
	font-weight:bold;
	text-decoration:none;
	padding:0px 0px 7px 0px;
	margin:0px;
}


.gift_btn{
	padding-top:7px;
}
.gift_text{
	 height:50px;
}
.zoom_wrap{
	width:60px;
	margin:0 auto;
	text-decoration:none;
	text-align:center;
}
.zoom_wrap a{
	text-decoration:none;
}
.zoom_wrap a:hover{ 
	color:#770b3c;
	text-decoration:none;
}
/*.zoom_wrap img{
	 text-align:right;
	 float:right;
}*/
.pag_wrap{
	width:auto;
	padding:10px 0px 10px 0px;
	margin:0px;
}
.pag_wrap a{
	text-decoration:underline;
}
.pag_wrap a:hover{
	text-decoration:none;
}

.gift_detail{
	padding:10px 0px 10px 0px;
	margin:0px;
}
.big_img_wrap{
	width:205px;
	float:left;
}
.gift_detail_text{
	width:470px; 
	float:left;
	margin-left:15px;
	color:#0a5a7f;
	text-decoration:none;
	line-height:17px;
	text-align:justify;
	vertical-align:top;
}
.gift_detail_text h2{
	color:#0a5a7f;
	text-decoration:none;
	line-height:17px;
	padding:0px 0px 10px 0px;
	margin:0px;
	background:none;
}
.messageblockui {
	COLOR: #2e3f61; 
	TEXT-DECORATION: none

}
.mcDateLogo{position:relative;width:135px;height:84px;background:url(../images/mcLogoBg.jpg) no-repeat left top;	padding:0px; margin:0px}
.mcDateStamp{position:absolute;bottom:2px; font: normal 11px Arial, Helvetica, sans-serif;color:#000; text-align:center; width:135px}
.mcDateStamp span{color:#ce1010;}

/*=========================================== jan 15*/

#catagory_menu
{
width:198px;
font-size:12px;
color:#666666;
padding: 0;
text-align:left;
}
ul#catagory_menu
{
text-align: left;
list-style: none;
margin: 0px;
padding:4px;
float:left;
/*width:198px;*/
}

ul#catagory_menu li
{

display: block;
margin: 0;
padding: 2px;
height:16px;
}

ul#catagory_menu li a
{
display: block;
margin:0;
/*width:198px;*/
padding-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
text-decoration: none;

}

ul#catagory_menu li.sub 
{
padding:2px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

ul#catagory_menu li.sub a
{
padding:0px 0px 0px 20px;
margin:0px 0px 0px 0px;
height:16px;


}
ul#catagory_menu li.sub a:hover
{
padding:0px 0px 0px 20px;
margin:0px 0px 0px 0px;
background-color:#dae1e6;
display:block;

}



ul#catagory_menu li.sub1 a
{
padding:0px 0px 0px 2px;
margin:0px 0px 0px 0px;
height:16px;


}
ul#catagory_menu li.sub1 a:hover
{
padding:0px 0px 0px 2px;
margin:0px 0px 0px 0px;
background-color:#dae1e6;
display:block;

}


ul#catagory_menu li.subbold a
{
padding:0px 0px 0px 20px;
margin:0px 0px 0px 0px;
height:16px;
font-weight:bold;
background-color:#dae1e6;
}
ul#catagory_menu li.subbold a:hover
{
padding:0px 0px 0px 20px;
margin:0px 0px 0px 0px;
background-color:#dae1e6;
display:block;
font-weight:bold;
background-color:#dae1e6;
}


ul#catagory_menu li.sub1bold a
{
padding:0px 0px 0px 2px;
margin:0px 0px 0px 0px;
height:16px;
font-weight:bold;
background-color:#dae1e6;

}
ul#catagory_menu li.sub1bold a:hover
{
padding:0px 0px 0px 2px;
margin:0px 0px 0px 0px;
background-color:#dae1e6;
display:block;
font-weight:bold;
background-color:#dae1e6;
}





ul#catagory_menu li a, ul#catagory_menu li#active a{
/*color:#000000;
background:url(images/hover_13.jpg) no-repeat left top;*/

padding:2px 0px 2px 0px;
margin:0px 0px 0px 0px;
}
ul#catagory_menu li a:hover, ul#catagory_menu li#active a:hover
{
color:#000000;
background:url(images/hover_13.jpg) no-repeat left top;

}

.category_popup{
	width:440px;
	/*border:1px solid #cbcbcb;*/
}
.category_popup_head{
	width:440px;
	background:url(../images/popup_curve_top_bg.gif) repeat-x left top;
	height:31px;
	/*padding:0px 10px 0px 15px;*/
	padding:0px;
}

.title_txt{
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	background-color:#b1e4ff;

}
.javascript_scroll{
	padding:25px 0px 0px 13px;
	width:427px;
}
.javascript_scroll2{
	padding:0px;
	padding-left:10px;
	width:427px;
}

.javascript_scroll_btm{
	padding:25px 0px 0px 13px;
	width:427px;
	font-size:12px;
	text-decoration:none;
	color:#000;
}
.javascript_scroll_btm2{
	width:427px;
	font-size:12px;
	text-decoration:none;
	color:#0b5980;
}
.javascript_scroll_btm_inner{
	padding:0px;
	width:410px;
	float:left
}
.javascript_scroll_boder{
	width:410px;
	border:1px solid #000;
	float:left
	
}

.headingbox01{
width:198px;
padding-left:5px;
padding-top:2px;
padding-right:3px;
height:20px;
float:left;
background:#b1e4ff ;
FONT-WEIGHT:bold;
FONT-SIZE: 12px;
vertical-align:middle;
border-bottom:1px solid #2E96CB;

}
/* Feb 05*/
.popup_border{
	border:1px solid #cbcbcb;border-width:0px 1px 0px 1px;
}
.pop_btm_bg{
background:url(../images/popup_bg_btm.gif) repeat-x left top;height:10px;
}
div.shadowbox {
padding: 0;
float: left;
display: block;
position: relative;
margin: 6px 0px 0px 6px !important;
background: url(img/shadow.png) no-repeat bottom right !important;
}

div.shadowbox ELEMENT{
margin: -6px 6px 6px -6px;
position:relative;
display:block;
}
div.shadowbox div{
margin: -6px 6px 6px -6px;
position:relative;
display:block;
}
.popup_header{
	background-color:#b1e4ff;
	
}
.popup_header_text{
FONT-WEIGHT:bold;
FONT-SIZE: 12px;
COLOR:#0b5980;


}
.shadowcontainer_new{
width: 450px; /* container width*/
height:355px;
background: transparent url(../images/p3_new.png) no-repeat ;
padding:11px 30px 10px 30px;
}
.shadowcontainer{
width: 467px; /* container width*/
height:363px;
background: transparent url(../images/p1.png) no-repeat -10px 25px;
}
.shadowcontainer2{
width: 501px; /* container width*/
height:519px;
background: transparent url(../images/p2.png) no-repeat -9px 25px;
}

.shadowcontainer3{
width: 501px; /* container width*/
height:145px;
background: transparent url(../images/p3.png) no-repeat -10px 20px;
}

.shadowcontainer4{
width: 788px; /* container width*/
height:620px;
background: transparent url(../images/back002.png) no-repeat -10px 20px;
}
.shadowcontainer5{
width: 788px; /* container width*/
height:650px;
background: transparent url(../images/back002.png) no-repeat -10px 20px;
}


.shadowcontainer .innerdiv{
/* Add container height here if desired */
background-color: white;
border: 1px solid gray;
padding: 6px;
position: relative;
left: -7px; /*shadow depth*/
top: -7px; /*shadow depth*/
}
/*-----------------------------------------MARCH 10*/
.popup_frame{
	width:380px;
	height:536px;
	border:1px solid #000000;
}
.popup_frame_head{
	background:#ececec;
	height:30px;
	padding:0px 10px 0px 15px;
	border-bottom:1px solid #cbcbcb;
}
.padding_frame{padding:14px 17px 0px 17px;}
.font_normal{
	text-decoration:none;
	color:#000;
	}
	
	
	/*---------------------------------------------24 June 2010*/
.list_raw{
	width:685px;
	border-bottom:1px solid #aaa;
	padding:15px 0px;
	font-size:12px;
	line-height:16px;
	text-align:justify;
	}

.list_raw2{
	width:685px;
	padding:15px 0px;
	font-size:12px;
	line-height:16px;
	text-align:justify;
	}
		
.img_wrap{
	width:206px;
	border:1px solid #dbdbdb;
	height:190px;
	float:left;
	margin-right:10px;
	}
.clear{
	clear:both;
	}
.fl{
	float:left;
	}
.column{
	width:220px;
	float:left;
	}
a.more_blue{
	color:#2ca8e9;
	background:url(../images/arrow_blue.jpg) no-repeat left 3px;
	padding:0px 0px 10px 15px;
	text-decoration:none;
	float:right;
	}
a.more_blue:hover{
	color:#0f85c3;
	text-decoration:none;
	}
.mg_r20{
	margin-right:20px;
	}
.itemtype{
	font-size:12px;
	font-style:italic;
	}
.itemtype span{
	font-size:12px;
	font-style:normal;
	}
.pd_b10{
	padding-bottom:10px;
	}
.pd_t8{
	padding-top:8px;
	}
.list_title{
	font-size:15px;
	font-weight:bold;
	}
.price{
	font-size:15px;
	font-weight:bold;
	color:#f2000b;
	}
.price span{
	font-size:14px;
	}
.img_bdr{
	border-bottom:1px solid #bdbdbd;
	padding:2px;
	}
a.zoom {
	text-align:center;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:0px 0px 0px 72px;
	}
a.zoom:hover{
	text-decoration:none;
	}
	
	/*   -------------------START 14-0ct-10 ---------------------------------*/
del {
    color: red;
    }

.clear{
	clear:both;
	}
.fl{
	float:left;
	}
	
.fr{
	float:right;
	}
	
.pd_t8{
	padding-top:8px;
	}
	
.pd_t14{
	padding-top:14px;
	}
	
.pd_r50{
	padding-right:50px;
	}

.pd_l70{
	padding-left:70px;
	}
	
.pd1{
	padding:5px 5px;
	}
	
.pd2{
	padding:10px 10px;
	}
.clear {
    width: 100%;
    height: 1px;
    margin: 0 0 -1px;
    clear: both;
}


.w{
	width:188px;
	}
	
.w2{
	width:250px;
	}
	
.w3{
	width:165px;
	}
.font1{
	font-size:15px;
	color:#02c93cd;
	}
	
.font2{
	font-size:12px;
	font-weight:bold;
	
	}
	
.font3{
	font-size:12px;
	font-weight:bold;
	color:#0b5980;	
	}
	
.font4{
	color:#9c83a0;
	text-align:justify;	
	}
.font5{
	font-size:12px;
	color:##0b5980;
		
	}
.font6{
	font-size:15px;
	font-weight:bold;
	color:#000;}
	
.font6 span{
	font-size:15px;
	font-weight:bold;
	color:#000; padding-left:5px;}
	
.font7{
  font-size:12px;
  font-size:12px;
  color:#0b5980;
  }
	
.font8{

	font-size:12px;
	font-weight:bold;
	color:#0b5980;}
	
.font9{
	font-size:12px;
	font-weight:bold;
	color:#0b5980;
	}
	
.font10{
	font-size:12px;
	font-weight:bold;
	color:#0B5980;}

	
.font11{
	font-size:12px;
	color:#6b5782;}
.font11{
	font-size:12px;
	color:#6b5782; 
	padding-left:5px;}
	
.red{
	color:#FF0000;	
	}
	
.list_raw_new{
	width:685px;
	border-bottom:1px solid #aaa;
	font-size:12px;
	line-height:16px;
	text-align:justify;
	}
	
.right_text{
	width:460px;
	font-size:12px;
	line-height:16px;
	text-align:justify;
	}
.pd_b10{
	padding-bottom:2px;
	}

.img_wrap{
	width:206px;
	border:1px solid #dbdbdb;
	height:190px;
	float:left;
	margin-right:10px;
	text-align:center;
	}

.img_bdr{
	border-bottom:1px solid #bdbdbd;
	padding:2px;
	}

.zoom{
	width:20px;
	float:left;
	}
.vd{
	width:320px;
	float:left;
	font-size:12px;
	font-weight:bold;
	}
.price{
	width:320px; 
	font-size:12px;
	font-weight:bold;
	color:#0b5980;
	float:left;
	}
	
.price span{
	font-size:12px;
	padding-left:5px;
	}
.mg_r20{
	margin-right:20px;
	}

.mg_t15{
	margin-top:14px;
	}



a.pbutton {text-decoration: none;float:left;color: #fff;cursor: pointer;font-size:12px;
font-weight:bold; color:#fff;background: url(../images/button.jpg) no-repeat right 0; display:block;} 
a.pbutton span{margin: 0 10px 0px 0px; color:#FFFFFF;	padding: 4px 5px 10px 15px;position: relative; /*To fix IE6 problem (not displaying)*/ background: url(../images/button.jpg) no-repeat left  0;float:left;  display:block;}	

a.pbutton2 {text-decoration: none;float:left;color: #fff;cursor: pointer;
font-size:12px;	font-weight:bold; color:#fff;background: url(../images/button2.jpg) no-repeat right 0; display:block;} 
a.pbutton2 span{margin: 0 10px 0px 0px; color:#FFFFFF;	padding: 4px 5px 10px 15px;position: relative; /*To fix IE6 problem (not displaying)*/ background: url(../images/button2.jpg) no-repeat left  0;float:left;  display:block;}	



 /*left Portion*...............................................................................*/ 

.outline{
	width:188px;
	border:1px solid #6b5782;
	background-color:#B4E4FC;
	padding:5px 5px;
	}
	
.outline2{
	width:178px;
	border:1px solid #6b5782;
	border-top:0px;
	background-color:#f9f9f9;
	padding:10px 10px;
	}
	
	

	
/*pop_up...............................................................................*/ 

.outline3{
	width:377px;
	height:auto;
	border:1px solid #000;
	background-color:#fff;
	
}

.p_banner{
	width:275px;
	height:20px;
	padding:5px 10px;
	background-color:#b4e4fc;
	float:left;
}

.p_banner2{
	width:62px;
	height:20px;
	padding:5px 10px;
	float:right;
	background-color:#b4e4fc;
	text-align:left;
	}
.outline4{
	width:377px;
	background-color:#fff;	
}
.p_button{
	width:50px;
	height:20px;			
}
.pop_container{position:relative}
.pop_up_inner{
	width:387px;
	height:210px;
	background:url(../images/back002_1.png) no-repeat;

	
}

.shadow{
	width:420px;
	height:auto;
	position:absolute;
	left: 30px;
	top: -100px;
			
}
.shadow_top{
	width:420px;
	height:16px;
	background:url(../images/top_back002.png) no-repeat;
	
			
}

.shadow_middle{
	width:360px;
	height:auto;
	background:url(../images/middle_back002.png) repeat-y;
	padding-left:25px;
	padding-right:30px;
			
}

.shadow_bottom{
	width:520px;
	height:11px;
	background:url(../images/bottom_back002.png) no-repeat;
	
}
.pop_up{
	width:357px;
	height:auto;
	border:1px solid #000;
	background-color:#fff;
	padding:10px 10px;
}
/*   -------------------END 14-0ct-10 ----------------------------------*/

.pd_6{padding:4px 10px 10px 10px;}
.pd_t4{padding-top:4px;}
.pd_t6{padding-top:6px;}
